/* --- Background image for each page --- */
body {
    background-image: url(https://wallpapercave.com/wp/wp7396628.jpg)
 }

/* --- add space below nav --- */
main {
     margin: 100px 0;
 }

/* --- Navbar CSS START --- */
#logo {
     color: white;
     margin-left: 30px
 }

.nav-link {
    color: white
}

.navbar-default .navbar-nav > li > a:hover {
    color: lightblue
  }
  
.navbar {
    background: rgb(35, 41, 78);
    border: none;
  }

.footer {
   background: rgb(62, 40, 99);
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 40px;
   margin: auto;
   text-align: center;
   color: white;
   line-height: 3px;
 }

@media only screen and (max-width: 767px) {
    .navbar-header {
      background-color: rgba(42, 177, 141, 0.585);
    }
  }
/* --- Navbar CSS END ---*/


/* --- Beige Box CSS START --- */
.box {
     background-color: rgba(255, 253, 240, 0.809);
     padding: 30px;
     margin-bottom: 0px;
 }
 
 .box-header0 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 32px;
    font-weight: bold;
    color: rgba(35, 41, 78, 0.68);
    text-align: center;
    padding-left: 10px;
 }
.box-header {
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
     font-size: 32px;
     font-weight: bold;
     color: rgba(35, 41, 78, 0.68);
     padding-left: 390px;
 }
.box-header2 {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 32px;
    font-weight: bold;
    color: rgba(35, 41, 78, 0.68);
    text-align: left;
    padding-left: 10px;
}

.row {
    margin-left: 50px;
}
/* --- Beige Box CSS END --- */


/* --- Card CSS START --- */
.card {
    width: auto;
}

#jordaz {
    float: left;
    width: 200px;
    max-height: 250px;
    height: auto;
    margin: 0 20px 10px 0;
}

.homeworks {
    margin-left: 60px;
}

#horiseon {
    width: 315px;
    height: 450px;
}

#passgen {
    width: 315px;
    height: 450px;
}

#codequiz {
    width: 315px;
    height: 450px;
}

#dayplan {
    width: 315px;
    height: 450px;
}
/* --- Card CSS START --- */